@import url('./dist/bios-ui.css');
@import url('./tokens/generated.css');

body {
	margin: 0;
	font-family: 'Courier Prime', monospace;
	color: var(--color-fg-dark);

	button {
		cursor: pointer;
	}

	input,
	button {
		color: inherit;
		font-family: inherit;
	}

	span, input {
		font-family: 'Fira Code', monospace;
	}
}
